/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    background-color: #000000;
    height: 1280px;
}

/* topo */
header {
    padding: 40px 2%;
}

.interface {
    max-width: 100em;
    margin: 0 auto;
}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    transition: .2s;


}

header ul li a:hover {

    color: #05feef;
  
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

/* Section_1 */
.text_intro {
    margin: 0 auto;
    max-width: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    margin-left: 2em;
}

.intro h1 {
    font-weight: 700;
    font-size: 3em;
}

.intro h2 {
    padding-top: 20px;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #05feef;
}

.intro span {
    font-size: 1em;
}

.intro .ponto {
    font-size: 2em;
    color: #05feef;
    letter-spacing: 0.1em;
}

.intro h3 {
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 0.2em;
}

.intro .p1 {
    font-weight: 200;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.intro .p2 {
    letter-spacing: 0.1em;
    font-weight: 200;
    color: #fff;
}

.intro .p3 {
    padding-top: 20px;
    font-weight: 400;
    letter-spacing: 0.1em;
}

.img1 {
    display: flex;
    align-items: center;
    max-width: 40em;
    margin-right: 2em;
    padding: 10px;
}

.img1 img {
    width: 100%;
}

.container_contato {
    margin-top: 2em;
    display: flex;
    align-items: center;
}


.button a {
    width: 10em;
    height: 3em;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #3fb8b8 solid;
    cursor: pointer;
    text-decoration: none;
    color: #3fb8b8;
}

.button a:hover {
    color: #05feef;
    border: 2px #05feef solid;
    transform: scale(1.08);
}

.icons_social {
    align-items: center;
    margin: 0 auto;
}

.social {
    list-style-type: none;
}

.social li {
    display: inline-flex;
    align-items: center;
    border: 10px;
    outline: invert;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.social li:hover {
    transform: scale(1.12);
}

.social li i {
    font-size: 25px;
    padding: 10px;
}

.social li a {
    text-decoration: none;
    font-size: 12px;
}

.git i {
    color: #b66ee0;
}

.linedin i {
    color: rgb(2, 169, 247);
}

.fale_C i {
    color: #3fb8b8;
}

.sobre {
    margin: 0 auto;
    max-width: 100em;
    align-items: center;


}

.sobre_tittle {
    scroll-margin-top: 500px;


}

.Sobre_h1 {
    margin-left: 5em;
    font-weight: 700;
    font-size: 3em;
}

.sobre_content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100em;

}

.img2 {
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.img2 img {
    width: 100%;
    border: #05feef 5px solid;
    background-color: #000;
    border-top-left-radius: 20%;
    height: 14em;
    width: 12em;
}

.text_sobre {
    margin: 1em;
    padding: 40px;
    width: 70%;
}

.text_sobre {
    text-indent: 40px;
    line-height: 2em;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-style: italic;
}