/* geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

body {
    background-color: #000000;
    height: 100vh;
}

/* topo */
header {
    margin: 0 auto;
    padding: 10px 2%;
    align-items: center;
}

.interface {
    max-width: 100em;
    margin: 0 auto;

}

header>.interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    font-weight: 700;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    border-radius: 20px;
}

header nav ul li :hover {
    border-bottom: 4px solid #05feef;
    color: #05feef;

}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* Section_1 */
.text_intro {
    margin: 0 auto;
    padding: 10px;
    max-width: 100em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    letter-spacing: 2px;
}

.intro {
    padding: 10px;
    margin-left: 5em;
    padding: 10px;
    letter-spacing: 3px;
}

.intro h1 {
    font-weight: 400;
    font-size: 4em;
    line-height: 3em;
}

.intro h2 .name {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #05feef;
    animation: neon 1s ease-in-out infinite alternate-reverse;
}

@keyframes neon {
    from {
        text-shadow: 0 0 60px #05feef,
            0 0 60px #9fd3cf,
            0 0 55px #7a7c7c;
    }
}


.intro span {
    color: #05feef;
    font-size: 1em;
}


.intro .p1 {
    font-weight: 200;
    font-size: 1.8em;
    color: #ffffff;
    padding: 20px 0;
}


.intro .p2,
.p3 {
    font-weight: 200;
    line-height: 2em;
    font-size: 1em;
}


.img1 {
    display: flex;
    align-items: center;
    max-width: 50em;
    margin-top: 2em;
    padding: 10px;
}

.img1 img {
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}



.social {
    list-style-type: none;
}


.social li {
    display: inline-flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 2em;
}

.social li:before {
    content: '';
    background: linear-gradient(45deg, #05feef, #0d8ff9, #00ffd5, #05feef);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
}


.social li:active {
    color: #000
}

.social li:active:after {
    background: transparent;
}

.social :hover:before {
    opacity: 1;
}

.social li:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



.social a {
    display: inline-flex;
    text-decoration: none;
    font-size: 18px;
    width: 60px;
    height: 60px;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 8px;
}


.social a i {
    transition: 0.3s ease-in;
}

.social a:hover i {
    background: linear-gradient(45deg, #22a6b3, #30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5);
}